<h1>New game</h1>
  <% @letters.each do |letter| %>
    <div class="btn btn-primary">
      <%= letter %>
    </div>
  <% end %>
  <div class="mt-3">
    <p>What is the longest word you can find?</p>
  </div>
  <% params[:letters] = @letters %>
  <form action="/score" method="post" data-turbo="false">
    <input type="text" name="word">
    <input type="submit" value="Play">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
